.appcol {
  width: 100%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.codeblock {
  white-space: pre-wrap;
  font-size: 20px;
  border: 1px solid green;
  margin: 0 20px;
  padding: 20px;
}

.codeblock.err {
    border-color: red;
}

.errMsg {
    margin: 20px;
    color: red;
}

.runButton {
  margin: 20px;
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  background-color: green;
  color: white;
  width: 200px;
}

.toggleButton {
  position: absolute;
  cursor: pointer;
  width: 200px;
  right: 30px;
  bottom: 20px;
  padding: 20px;
  font-size: 20px;
  color: #888;
  z-index: 100;
}
