<div class="appcol" [ngClass]="{show:!showCode,hide:showCode}">
  <div id="blocklyDiv" style="height:100%"></div>
</div>

<div class="appcol" [ngClass]="{show:showCode,hide:!showCode}">
  <div class="codeblock" [ngClass]="{err:isError}">
    {{ code }}
  </div>
  <div *ngIf="isError" class="errMsg">
    All your code must be in functions!
  </div>
  <button *ngIf="!isError" class="runButton" (click)="runProgram()">
    Run Program
  </button>
</div>

<button class="toggleButton" *ngIf="!showCode" (click)="showCode=true">Show Code</button>
<button class="toggleButton" *ngIf="showCode" (click)="showCode=false">Show Blocks</button>
